# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime
*.sublime-workspace

# Python
*.pyc
*.pyx
*.pyo
__pycache__/*

# Build files
*.plist
./release/*
